<div id="contact-list" class="contacts-container">
    <div id="checkbox" class="contact-column">
        <input class="checkbox" type="checkbox">
    </div>
    <div id="name" class="contact-column">
        <p>{{first_name}} {{last_name}}</p>
    </div>
    <div id="email" class="contact-column">
        <p>{{email}}</p>
    </div>
    <div id="phone" class="contact-column">
        <p>{{phone_number}}</p>
    </div>
    <div id="company" class="contact-column">
        <p>{{company}}</p>
    </div>
    <div id="last-activity">
        <p>Updated On 5/5/12</p>
    </div>
</div>